singularity.enabled = true
singularity.cacheDir = '/staging/leuven/stg_00064/Kobe_2/singularity_cache'

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '100/1min'

    exitReadTimeout = '259200 sec'
      pollInterval = '1 min'
      queueStatInterval = '5 min'
      }
tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA2OTEzfS4zMWIxNmFmMDQ4NjgzNjhkMjRkNGIxMDcyOTI2ZGJmZDBlZDkyNDEy'
}

process {
    clusterOptions = "--cluster wice -A lcfdna_labepi"

    errorStrategy = { task.exitStatus == 140 ? 'retry' : 'ignore' }
    cpus = 2
    memory = 1.GB
    time = {'5 min' * task.attempt}


    if (params.sampletype=='WGBS'){
        withName: 'TRIM' {
        cpus = 2
        memory = 1.GB
        time = {'2h' * task.attempt}
 }
        withName: 'COMPUTE_ON_TARGET' {
        cpus = 10
        memory = 10.GB
        time = {'1h' * task.attempt}
 }


        withName: 'FASTQ_SCREEN' {
        cpus = 10
        memory = 50.GB
        time = {'1h' * task.attempt}
  }


        withName: 'ALIGN' {
        cpus = 12
        memory = 100.GB
        time = {'10h' * task.attempt}
 }
        withName: 'SORT' {
        cpus = 1
        memory = 2.GB
        time = {'2h' * task.attempt}
 }
        withName: 'FILTER' {
        cpus = 10
        memory = 1.GB
        time = {'30 min' * task.attempt}
 }
        withName: 'DEDUPLICATE' {
        cpus = 3
        memory = 2.GB
        time = {'30 min' * task.attempt}
 }      withName: 'EXTRACT' {
        cpus = 13
        memory = 1.GB
        time = {'90 min' * task.attempt}
 }
        withName: 'REPORTSUMM' {
        cpus = 1
        memory = 1.GB
        time = {'1 min' * task.attempt}
 }
        withName: 'FASTQC' {
        cpus = 1
        memory = 1.GB
        time = {'15 min' * task.attempt}
  }
        withName: 'MULTIFASTQC' {
        cpus = 10
        memory = 10.GB
        time = {'1h' * task.attempt}
  }
    } else {
        withName: 'TRIM' {
        cpus = 15
        memory = 20.GB
        time = {'10h' * task.attempt}
 }
        withName: 'COMPUTE_ON_TARGET' {
        cpus = 10
        memory = 10.GB
        time = {'1h' * task.attempt}
 }


        withName: 'FASTQ_SCREEN' {
        cpus = 20
        memory = 100.GB
        time = {'1h' * task.attempt}
  }


        withName: 'BISMARK_ALIGN' {
        cpus = 24
        memory = 200.GB
        time = {'10h' * task.attempt}
 }
        withName: 'SORT' {
        cpus = 10
        memory = 20.GB
        time = {'2h' * task.attempt}
 }
        withName: 'FILTER' {
        cpus = 10
        memory = 1.GB
        time = {'30 min' * task.attempt}
 }
        withName: 'DEDUPLICATE' {
        cpus = 15
        memory = 20.GB
        time = {'30 min' * task.attempt}
 }      withName: 'EXTRACT' {
        cpus = 20
        memory = 15.GB
        time = {'90 min' * task.attempt}
 }
        withName: 'REPORTSUMM' {
        cpus = 1
        memory = 1.GB
        time = {'1 min' * task.attempt}
 }
        withName: 'FASTQC' {
        cpus = 10
        memory = 10.GB
        time = {'15 min' * task.attempt}
  }
        withName: 'MULTIFASTQC' {
        cpus = 10
        memory = 10.GB
        time = {'1h' * task.attempt}
  }

    }

}
}